$primaryColor: #424e64;
$secondaryColor: #bbc2ca;
$fontColor: #35373a;
$accent: #f1c517;


$defaultFont: 'Lato', sans-serif;
$normalWeight:300;
$boldWeight:700;

$gutter: 2%;
$gutterdbl: (2 * $gutter);