{
  "env": {
    "server": {
      "presets": [
        [
          "env",
          {
            "useBuiltIns": "usage",
            "targets": {
              "browsers": [ "last 2 versions", "ie >= 11" ]
            },
            "modules": false
          }
        ]
      ]
    },
    "client": {
      "presets": [
        [
          "env",
          {
            "useBuiltIns": "usage",
            "targets": {
              "browsers": [ "last 2 versions", "ie >= 11" ]
            }
          }
        ]
      ]
    }
  },
  "plugins": [
    "syntax-dynamic-import",
    "lodash",
    "@7rulnik/react-loadable/babel"
  ]
}