{
  "env": {
    "server": {
      "presets": [
        [
          "env",
          {
            "useBuiltIns": "usage",
            "targets": {
              "browsers": [ "last 2 versions", "ie >= 11" ]
            },
            "modules": false
          }
        ]
      ]
    },
    "client": {
      "presets": [
        [
          "env",
          {
            "useBuiltIns": "usage",
            "targets": {
              "browsers": [ "last 2 versions", "ie >= 11" ]
            }
          }
        ]
      ]
    }
  },
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "lodash",
    "react-loadable/babel",
    "@babel/plugin-transform-runtime"
  ]
}