
@{
    ViewData["Title"] = "Home Page";
}
@section styles {
    
    <link href="~/dist/bundle.css" rel="stylesheet" asp-append-version="true">
    
}

<div id="react-app" asp-prerender-module="ClientApp/dist/serverBundle">Loading...</div>

@section scripts {
    
    <script src="~/dist/bundle.js" asp-append-version="true"></script>
    
}